<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a la pagina del colonial, <%= @user.name %></h1>
    <p>
      Su cuenta fue creada
      su pasword es : <%= @user.clave %>.<br>
    </p>
    <p>
    </p>
    <p>Me voy a jugar play no molestar</p>
  </body>
